.testimonial-card {
    display: flex !important;
    flex-direction: column;
    justify-content: start !important;
    min-height: 650px;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 8px;
    gap: 120px;
    position: relative;
}

.testimonial-profile {
    position: absolute;
    bottom: 0;
}

.img-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;

}

.testimonial-image {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}


.testimonial-text {
    margin: 0;
}

.slick-list {
    padding: 0px !important;
}


.slick-slide {
    display: flex !important;
    height: auto;
}

.slick-track {
    display: flex !important;
    gap: 20px;
    align-items: stretch;
}

.testimonial-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 40px;
    box-sizing: border-box;
}



@media screen and (max-width: 968px) {
    .testimonial-profile {
        padding-bottom: 5px;
    }

    .testimonial-text {
        margin-top: 0;
    }
}

@media screen and (max-width: 768px) {
    .testimonial-card {
        min-height: 450px;
    }
}

@media screen and (max-width: 480px) {
    .img-container {
        width: 80px;
        height: 80px;
    }

    .testimonial-card {
        height: 450px;
    }
}