.testimonial-card {
    display: flex !important;
    flex-direction: column;
    justify-content: start;
    min-height: 650px;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 8px;
    gap: 120px;
    position: relative;
}

.testimonial-profile {
    position: absolute;
    bottom: 0;
}

.testimonial-text {
    margin: 0;
}

.slick-slide {
    display: flex !important;
    height: auto;
}

.slick-track {
    display: flex !important;
    gap: 20px;
    align-items: stretch;
}

.testimonial-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 40px;
    box-sizing: border-box;
}

@media screen and (max-width: 968px) {
    .testimonial-profile {
        padding-bottom: 0;
    }

    .testimonial-text {
        margin-top: 0;
    }
}

@media screen and (max-width: 768px) {
    .testimonial-card {
        min-height: 450px;
    }
}

@media screen and (max-width: 480px) {
    .testimonial-image {
        width: 80px;
    }

    .testimonial-card {
        height: 500px;
    }
}