/* Footer Component Styles */
@import '../../../styles/shared.css';

.footer-main {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.footer-head {
  font-family: 'Dirtyline36Daysoftype2022';
  text-transform: lowercase;
  font-size: 5rem;
  text-align: center;
  line-height: 0.8;
  font-weight: 100;
  margin-bottom: 60px;

}


.footer-container {
  padding: 20px;
  background-color: var(--background-light);
  width: 80vw;
  margin-left: 10vw;
  margin-top: 60px;
}

.dark-mode .footer-container {
  background-color: var(--background-dark);
}

.social-media-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.social-media {
  margin: 10px 0;
  width: 70vw;
}

.social-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  transition: transform 2s ease;
  cursor: pointer;
}

.social-row:hover {
  transform: scale(1.3);
}

.social-heading {
  font-size: 3rem;
  color: #0e0e0e;
  /* LinkedIn color */
  margin: 0;
  font-family: 'Dirtyline36Daysoftype2022';
  text-transform: lowercase;
  color: #555;
  letter-spacing: 1.5px;

}

.dark-mode .social-heading {
  color: #ffffff;
}

.social-icon .icon {
  width: 60px;
  height: 60px;
  background-color: transparent;
}

.divider {
  border: none;
  border-top: 1px solid #ddd;
}

@media screen and (max-width: 1050px) {
  .social-heading {
    font-size: 3.5rem;
  }
}

/* Mobile view styles */
@media (max-width: 764px) {
  .social-heading {
    font-size: 2rem;
  }

  .social-icon .icon {
    width: 30px;
    height: 30px;

  }

  .footer-head {
    font-size: 3.5rem;
  }
}



.time-to-roar-head {
  font-family: 'Dirtyline36Daysoftype2022';
  font-size: 6.5rem;
  text-align: left;
  text-transform: lowercase;
  margin-left: 10vw;
  margin-top: 10vh;
  line-height: 5rem;
  color: transparent;
}



.time-to-roar {
  text-align: center;
  width: 80vw;
  margin-left: 10vw;
  padding-bottom: 10vh;

}

.horizontal-line {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 10px 0;
}

.contact-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.contact-item {
  flex: 1;
  text-align: center;
}

.contact-item small {
  display: block;
  font-size: 1.2rem;
  color: #000000;
  font-family: 'Syne', serif;
  text-transform: none;
}

.contact-item p {
  font-size: 1.5rem;
  margin: 0;
  font-family: 'Syne', serif;
  text-transform: none;
}

.dark-mode .contact-item p {
  color: var(--background-light);
}

@media(max-width:764px) {
  .time-to-roar-head {
    font-size: 4rem;
    line-height: 3rem;

  }

  .contact-item small {
    font-size: 0.5rem;
  }

  .contact-item p {
    font-size: 0.6rem;
  }

  .web {
    display: none;
  }

  .services-image {
    width: 90%;
    /* Image takes 90% of the container width */
    height: auto;
    /* Maintain aspect ratio */
    margin-bottom: 1rem;
    /* Add spacing between image and text */
    border-radius: 12px;
    /* Rounded corners */
  }

}

@media screen and (max-width: 480px) {
  .contact-row {
    flex-direction: column;
    align-items: flex-start;
  }
}