/* Stats Component Styles*/
/* Root Color Variables for Light and Dark Mode */
:root {
  --background-light: #ffffff;
  --background-dark: #0a0a0a;
  --foreground-light: #171717;
  --foreground-dark: #ffff;
  --highlight-color: #ffff;
}

/* Card container */

.stat-card {
  opacity: 0;
  animation-fill-mode: forwards;
}

.stat-card.card1 {
  animation-name: slideInLeft;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
}

.stat-card.card2 {
  animation-name: slideInRight;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
}

.stat-card.card3 {
  animation-name: slideInLeft;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
}

.stat-card.card4 {
  animation-name: slideInRight;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px) rotate(-15deg);
  }

  100% {
    opacity: 1;
    transform: translateX(0) rotate(0deg);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100px) rotate(15deg);
  }

  100% {
    opacity: 1;
    transform: translateX(0) rotate(0deg);
  }
}




html {
  scroll-behavior: smooth;
}

/* Apply Dark Mode Colors for Dark Mode Preferences */
@media (prefers-color-scheme: dark) {
  :root {
    --background-light: #ffffff;
    --foreground-light: #ededed;
  }
}

/* Font Import */
@font-face {
  font-family: 'Dirtyline36Daysoftype2022';
  src: url('/fonts/Dirtyline36Daysoftype2022-Reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Syne';
  src: url('/fonts/Syne.ttf') format('truetype');
  font-weight: 400;
  /* Regular */
  font-style: normal;
}



.stats-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
  justify-items: center;
  align-items: start;
  margin-top: 10vh;
  scroll-behavior: smooth;
}

/* Card styling */
.stat-card {
  position: relative;
  background-color: #f2f2f2;
  width: 40vw;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 12px;
  color: #1b1b1b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
  font-family: 'Syne', serif;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.stat-card.card1:hover {
  background-color: #C93102;
  color: #fff;
}

.stat-card.card2:hover {
  background-color: #3F4144;
  color: #fff;
}

.stat-card.card3:hover {
  background-color: #B5DFCE;

}

.stat-card.card4:hover {
  background-color: #F3E453;
}

.stat-value {
  font-size: 7rem;
  padding-left: 25px;
  font-family: "DM Mono", monospace;
  font-weight: 400;
  letter-spacing: -5px;
}


.stat-label {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 2.6rem;
  text-align: right;
  font-weight: 500;
  padding: 25px;
  font-family: 'Dirtyline36Daysoftype2022', serif;
  text-transform: lowercase;
  line-height: 0.9;
}

@media screen and (max-width: 1050px) {
  .stat-label {
    font-size: 2.3rem;
  }

  .stat-value {
    font-size: 4rem;
  }
}

/* Responsive adjustments for small screens */
@media (max-width: 768px) {
  .stats-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    /* Reduced gap for small screens */

  }

  .stat-card {
    width: 100%;
    height: 200px;
  }

  .stat-value {
    font-size: 5rem;
  }

  .stat-label {
    margin-top: 3vh;
    margin-left: 3vw;
    font-size: 2.3rem;
    letter-spacing: 1px;
  }



  .stat-card.card1 {
    background-color: #DE4718;
    color: #fff;
  }

  .stat-card.card2 {
    background-color: #3F4144;
    color: #fff;
  }

  .stat-card.card3 {
    background-color: #B7DFCF;

  }

  .stat-card.card4 {
    background-color: #F3E453;
  }
}

@media screen and (max-width: 480px) {
  .stat-value {
    font-size: 5rem;
  }

  .stat-label {
    margin-top: 3vh;
    margin-left: 3vw;
    font-size: 1rem;
    letter-spacing: 1px;
  }
}

/* Desktop adjustments to move right cards lower */
@media (min-width: 768px) {
  .stats-container {
    grid-template-columns: 1fr 1fr;
    /* Two columns layout */
  }

  .stat-card:nth-child(2),
  .stat-card:nth-child(4) {
    align-self: flex-start;
    /* Ensures the cards are at the top */
    margin-top: 50px;
    /* Maintains top space for right cards */
  }
}