/* src/app/Components/FixedChatIcon/FixedChatIcon.module.css */
.iconContainer {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  
  width: 60px;
  height: 60px;
  background-color: #ffffff; /* White button */
  color: #000000; /* Black icon */
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  transition: transform 0.2s ease-in-out;
}

.iconContainer:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.iconContainer svg {
  width: 30px;
  height: 30px;
}